/* open-sans, note that this has only the latin-range */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url('/assets/fonts/opensans-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a:visited, a {
    text-decoration: none;
    color: #beb8f5;
}

a:hover {
    text-decoration: underline;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    background-color: #060129;
    color: #f1f1f1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body > main {
    max-width: 60rem;
    margin: 0 auto;
    flex: 1;
}

main, body > footer {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

main {
    font-size: 12pt;
    line-height: 1.4rem;
    width: 100%;
}

main.multicolumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

main.multicolumn .left {
    flex: 3;
}

main.multicolumn .right {
    flex: 2;
    padding-left: 2rem;
}

@media screen and (max-width:600px) {
    main.multicolumn .left, main.multicolumn .right {
        flex: none;
        width: 100%;
        padding-left: 0;
    }
}

body > header {
    border-style: dashed;
    border-color: #bcb7e8;
}

body > footer {
    margin-top: 2rem;
    padding: 2rem 1.5rem 1rem;
    font-size: small;
    line-height: 1.5em;
    background-color: #171347;
}

footer p:first-child {
    margin-top: 0;
}

body > header {
    border-width: 0px 0px 1px;
    background-color: #171347;
    margin-bottom: 2.0rem;
}

.nomargin {
    margin: 0;
}

code.tag {
    border-radius: 0.25em;
    padding: 0.1em 0.25em;
    background-color: #605d79;
    font-weight: normal;
}

a code.tag {
    color: #f1f1f1;
}

body > header h1 {
    margin: 0;
}

body > header nav.site {
    padding: 0.25rem 1.0rem 0.5rem;
    font-weight: bold;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body > header nav.site p {
    margin: 0;
}

nav.site a, nav.site a:visited {
    color: #eae9f7;
}

nav.site a.active, nav.site a.active:visited {
    text-decoration: underline;
}

.title {
    padding: 0.4rem 0 0.8rem 2rem;
    background-color: #060136;
}

#site-title {
    font-weight: normal;
    font-family: 'Palatino', 'URW Palladio L', serif;
}

#site-subtitle {
    font-family: 'Apple Chancery', 'Bradley Hand', cursive;
    font-size: 1.0em;
    padding-top: 0.2rem;
    margin: 0;
}

footer .badge {
    vertical-align: middle;
    margin-right: 0.5rem;
    border-width: 0;
}

main .side-box {
    font-size: 0.8rem;
    line-height: 1.1rem;
    text-align: justify;
    padding: 0.8rem;
    background-color: #171347;
    color: #ebeafa;
}

p:last-child {
    margin-bottom: 0;
}

.side-box h2 {
    border-bottom: 2px solid #241e6f;
}

h1 {
    font-size: 2rem;
}

.tabcontent {
    padding: 0 0.25rem;
}

.noselect {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* article styles */

article.preview {
    margin-bottom: 2.0em;
    text-align: justify;
}

article header h4 {
    font-size: 0.8rem;
    line-height: 1.0rem;
    margin: 0;
}

article header time {
    font-family: 'Courier New', Courier, monospace;
}

article header .byline {
    font-style: italic;
}

article header h1 {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1.0rem;
    border-bottom: 3px groove #d6d4e7;
}

article header .pubdetails {
    margin-top: 0.25rem;
}

article header {
    padding-bottom: 0.25rem;     
}

article .signing::before {
    content: "—";
}

article .signing {
    display: block;
    margin-top: 2rem;
    margin-left: 2rem;
    font-style: italic;
}

article footer {
    margin-top: 1rem;
    padding-top: 0.25rem;
    border-top: 1px solid #9997a6;
    font-size: 0.8rem;
}

/* if it's the main content of the page, directly, then in fact, the size of
the text shall be larger */
main > article > footer {
    font-size: 1.0rem;
}

article footer h4 {
    display: inline;
}

article footer nav {
    margin-top: 1.0rem;
}

.taglist {
    margin-top: 0.25em;
}

.taglist h4 {
    margin: 0;
}

.taglist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.taglist ul li {
    display: inline;
}

.taglist ul li::after {
    content: ","
}

.taglist ul li:last-child::after {
    content: none;
}

.tagarchive > li {
    margin: 0.5em 0;
}

/* nav classes */
nav.tabs {
    margin-top: 1.0rem;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr 20fr 1fr 20fr 1fr;
}

nav.tabs * {
    display: block;
    color: #eae9f7;
    border-color: #453f74;
    border-width: 1px;
    border-bottom-style: solid;
}

nav.tabs a {
    font-weight: bold;
    padding: 0.3rem 0.6rem;
    background-color: #1a144e;
    border-style: solid;
    border-radius: 10px 10px 0px 0px;
}

nav.tabs a:hover {
    background-color: #453f74;
    text-decoration: none;
}

nav.tabs .last {
    border-right-width: 1px;
}

nav.tabs .active {
    border-bottom-style: none;
    background-color: #453f74;
}

/* aside dialog styles */

.dialog {
    margin: 1.5em 0;
}

.aside {
    border-radius: 0.5em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    background-color: #171347;
    width: 30rem;
    padding: 0.5em;
    margin: 0.5em;
}

.aside p:first-child {
    margin-top: 0;
}