/*
midnightvoid.css - contains non-structural styles (primarily color-based) for
the Midnight Void theme.
*/

/*
When we have multiple: this should make it so users can switch between: https://stackoverflow.com/questions/19844545/replacing-css-file-on-the-fly-and-apply-the-new-style-to-the-page
*/

body {
    color: #f1f1f1;
    background-color: #060129;
}

body > header {
    border-color: #bcb7e8;
    background-color: #171347;
}

.title {
    background-color: #060136;
}

body > footer {
    background-color: #171347;
}

main .side-box {
    background-color: #171347;
    color: #ebeafa;
}

.side-box h2 {
    border-bottom-color: #241e6f;
}

a:visited, a {
    color: #beb8f5;
}

nav.site a, nav.site a:visited {
    color: #eae9f7;
}

code.tag {
    background-color: #605d79;
}

a code.tag {
    color: #f1f1f1;
}

article header h1 {
    border-bottom-color: #d6d4e7;
}

article footer {
    border-top-color: #9997a6;
}

nav.tabs * {
    color: #eae9f7;
    border-color: #453f74;
}

nav.tabs a {
    background-color: #1a144e;
}

nav.tabs a:hover {
    background-color: #453f74;
}

nav.tabs .active {
    background-color: #453f74;
}

.aside {
    background-color: #171347;
}