/* open-sans, note that this has only the latin-range */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url('./fonts/opensans-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
TODO: need to collect all common colors together for color-based theming, might
be tied to accessibility.
*/

a:visited, a {
    text-decoration: none;
    color: #beb8f5;
}

a:hover {
    text-decoration: underline;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    background-color: #060129;
    color: #f1f1f1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body > main {
    max-width: 60rem;
    margin: 0 auto;
    flex: 1;
}

main, body > footer {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

main {
    font-size: 12pt;
    line-height: 1.4rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

main .left {
    flex: 3;
}

main .right {
    flex: 2;
    padding-left: 2rem;
}

@media screen and (max-width:600px) {
    main .left, main .right {
        flex: none;
        width: 100%;
        padding-left: 0;
    }
}

body > header {
    border-style: dashed;
    border-color: #bcb7e8;
}

body > footer {
    margin-top: 2rem;
    padding: 2rem 1.5rem 1rem;
    font-size: small;
    line-height: 1.5em;
    background-color: #171347;
}

footer p:first-child {
    margin-top: 0;
}

body > header {
    border-width: 0px 0px 1px;
    background-color: #171347;
    margin-bottom: 2.0rem;
}

body > header h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

body > header nav.site {
    padding: 0.25rem 1.0rem 0.5rem;
    font-weight: bold;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body > header nav.site p {
    margin: 0;
}

nav.site a, nav.site a:visited {
    color: #eae9f7;
}

nav.site a.active, nav.site a.active:visited {
    text-decoration: underline;
}

.title {
    padding: 0.4rem 0 0.8rem 2rem;
    background-color: #060136;
}

#site-title {
    font-weight: normal;
    font-family: 'Palatino', 'URW Palladio L', serif;
}

#site-subtitle {
    font-family: 'Apple Chancery', 'Bradley Hand', cursive;
    font-size: 1.0em;
    padding-top: 0.2rem;
}

footer .badge {
    vertical-align: middle;
    margin-right: 0.5rem;
    border-width: 0;
}

main .side-box {
    font-size: 0.8rem;
    line-height: 1.1rem;
    text-align: justify;
    padding: 0.8rem;
    background-color: #171347;
    color: #ebeafa;
}

p:last-child {
    margin-bottom: 0;
}

.side-box h2 {
    border-bottom: 2px solid #241e6f;
}

h1 {
    margin-top: 0;
    font-size: 2em;
}

/* article styles */

article header h4 {
    font-size: 0.8rem;
    line-height: 1.0rem;
}

article header time {
    font-family: 'Courier New', Courier, monospace;
}

article header .byline {
    font-style: italic;
}

article header h1 {
    margin-bottom: 0;
    padding-bottom: 1.0rem;
    border-bottom: 3px groove #d6d4e7;
}

article header .pubdetails {
    margin-top: 0.25rem;
}

article header {
    padding-bottom: 0.25rem;     
}

article .signing::before {
    content: "—";
}

article .signing {
    display: block;
    margin-top: 2rem;
    margin-left: 2rem;
    font-style: italic;
}

article footer {
    margin-top: 1rem;
    padding-top: 0.25rem;
    border-top: 1px solid #9997a6;
    font-size: 0.8rem;
}

/* if it's the main content of the page, directly, then in fact, the size of
the text shall be larger */
main > article > footer {
    font-size: 1.0rem;
}

article footer h4 {
    display: inline;
}

article footer nav {
    margin-top: 1.0rem;
}

ul.taglist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

ul.taglist li {
    display: inline;
    font-style: italic;
}

ul.taglist li::after {
    content: ","
}

ul.taglist li:last-child::after {
    content: none;
}
